<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>Servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>Servlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet3</servlet-name>
        <servlet-class>Servlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet4</servlet-name>
        <servlet-class>Servlet4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet5</servlet-name>
        <servlet-class>Servlet5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet6</servlet-name>
        <servlet-class>Servlet6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet7</servlet-name>
        <servlet-class>Servlet7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet8</servlet-name>
        <servlet-class>Servlet8</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet9</servlet-name>
        <servlet-class>Servlet9</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/Servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/Servlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet3</servlet-name>
        <url-pattern>/Servlet3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet4</servlet-name>
        <url-pattern>/Servlet4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet5</servlet-name>
        <url-pattern>/Servlet5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet6</servlet-name>
        <url-pattern>/Servlet6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet7</servlet-name>
        <url-pattern>/Servlet7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet8</servlet-name>
        <url-pattern>/Servlet8</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet9</servlet-name>
        <url-pattern>/Servlet9</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
